body {
    font-family:'calibri', 'calibri', 'calibri';
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'calibri', 'calibri', 'calibri';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    font-family:'calibri', 'calibri', 'calibri';
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: skyblue;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 2em;
    font-family:'calibri', 'calibri', 'calibri';
}
p {
    font-family:'calibri', 'calibri', 'calibri';
    font-size: 1em;
    line-height: 1.5em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1em;
}

ul.posts li {
    list-style: none;
}
