<!DOCTYPE html>
<html>
        <head>
                <title> {{ page.title }}</title>
                <!-- link to main stylesheet -->
                <link rel="stylesheet" type="text/css" href="/css/main.css">
        </head>
        <body>
                <nav>
                <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/CV/cv.pdf">CV</a></li>
                        <li><a href="/publications/publications.html">Publications</a></li>
                        <li><a href="/presentations/presentations.html">Presentations</a></li>
                        <li><a href="mailto:haipeng.yu@huskers.unl.edu">Email</a></li>
                        <li><a href="https://github.com/HaipengU">GitHub</a></li>
                </ul>
                </nav>
                <div class="container">
                {{ content }}
                
                </div><!-- /.container -->
                <footer>
                </footer>
        </body>
</html>
